# Ignore virtual environment
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore environment settings
.env

# Ignore database file (if using SQLite temporarily)
db.sqlite3

# Ignore IDE/editor configs
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
